form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form > div {
    display: flex;

}
form > div > label {
    width: 120px;
    font-weight: 500;
    
}
form > div > input, form > div > select {
    flex: 1;
    height: 40px;
    padding-inline: 10px;
}

form > button {
    background-color: #D552A3;
    height: 40px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 20px;
}
.back {
      color: #462C7D;
    font-weight: 600;
}
