@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: "Outfit", sans-serif;
}


nav {
    display: flex;
    justify-content: center;
    gap: 50px;
    height: 100px;
    background-color: #EDE9E6;
}

nav a {
    height: 100%;
    padding-inline: 20px;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
    color: #462C7D;
}

nav a:hover {
    background-color: #D552A3;
    color: white;
}
 main {
    width: 600px;
    background-color: #E5EEE4;
    margin-inline: auto;
    margin-top: 50px;
    padding: 40px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
 }

 main h1 {
    font-size: 3rem;
    text-align: center;
    color: #462C7D;
 }